.container {
    width: 100%;
    @include responsive(padding, 60px 20px, 0px 18px 36px 18px);

    .content {
        @include content(1000px, 100%);
        @include flex(flex-start, flex-start, row, 20px);
        @include responsive(flex-direction, row, column);

        >div {
            &:first-of-type {
                width      : 100%;
                padding-top: 20px;
            }

            &:last-of-type {
                width: 100%;
            }

            >h1 {
                @include responsive(font-size, 48px, 32px);

                >span {
                    color                  : transparent;
                    background-clip        : text;
                    background             : $gradient-primary;
                    -webkit-background-clip: text;
                }
            }

            >h2 {
                @include responsive(font-size, 28px, 20px);
                text-decoration: none;
            }

            >h3 {
                @include responsive(font-size, 18px, 14px);
                text-transform: uppercase;
            }

            >form {
                max-width : 600px;
                margin-top: 30px;
                @include flex(flex-start, flex-start, column, 10px);

                >div {
                    width: 100%;
                    @include flex(flex-start, flex-start, row, 10px);
                }

                input {
                    display         : block;
                    width           : 100%;
                    background-color: $color-primarybright;
                    font-weight     : 600;
                    @include responsive(font-size, 14px, 12px);
                    @include responsive(padding, 14px, 12px);
                    color        : $color-dark;
                    outline      : none;
                    border       : 0px solid;
                    border-radius: 4px;
                    caret-color  : $color-primary;

                    &::placeholder {
                        color: rgba($color-dark, 0.6);
                    }

                    &:focus {
                        outline: 0 none;
                    }
                }

                textarea {
                    display         : block;
                    width           : 100%;
                    background-color: $color-primarybright;
                    font-weight     : 600;
                    @include responsive(font-size, 14px, 12px);
                    @include responsive(padding, 14px, 12px);
                    color        : $color-dark;
                    outline      : none;
                    border       : 0px solid;
                    border-radius: 4px;
                    caret-color  : $color-primary;
                    @include responsive(height, 150px, 120px);

                    &::placeholder {
                        color: rgba($color-dark, 0.6);
                    }

                    &:focus {
                        outline: 0 none;
                    }
                }

                >button {
                    margin-top : 6px;
                    margin-left: auto;
                    font-size  : 14px;
                    @include responsive(width, unset, 100%);
                    text-align: center;
                }
            }
        }
    }
}