.container {
    z-index                   : 100;
    overflow                  : auto;
    text-align                : center;
    background-color          : rgba($color-dark, 0.8);
    // backdrop-filter        : blur(10px);
    // -webkit-backdrop-filter: blur(10px);
    @include fixed(0, 0, 0, 0);
    @include hideScrollbar();

    &::before {
        width         : 0;
        content       : "";
        height        : 100%;
        vertical-align: middle;
        display       : inline-block;
    }

    .card {
        top          : 0;
        z-index      : 2;
        text-align   : left;
        border-radius: 24px;
        @include responsive(width, 830px, calc(100vw - 40px));
        margin          : 20px 0;
        vertical-align  : middle;
        position        : relative;
        display         : inline-block;
        transition      : none;
        background-color: rgba($color-light, 0.98);
        box-shadow      : $shadow-card;
        transition      : all .2s;
        overflow        : hidden;

        header {
            overflow: hidden;
            position: relative;
            color   : $color-white;

            &.default {
                @include responsive(padding, 20px, 12px);
                background-color: $color-primary;
                @include flex(center, space-between, row);

                h2 {
                    width: calc(100% - 40px);
                    @include responsive(font-size, 30px, 22px);
                    font-weight: 700;
                }
            }

            &.gallery {
                @include flex(flex-start, flex-start, column);

                h2 {
                    width     : 100%;
                    text-align: left;
                    color: $color-dark;
                    @include responsive(font-size, 28px, 20px);
                    font-weight: 700;
                    @include responsive(margin-top, 20px, 10px);
                    @include responsive(padding-left, 20px, 12px);
                }
            }

            .title {
                max-width: 500px;
                z-index  : 10;
                @include flex(center, center, row, 20px);
                @include responsive(gap, 16px, 12px);

                >img {
                    @include responsive(width, 80px, 60px);
                    border-radius: 10px;
                    z-index      : 10;
                }
            }

            .right {
                position: absolute;
                @include responsive(right, 100px, 40px);
                z-index: 10;
            }

            .galleryContainer {
                width: 100%;
                @include responsive(height, 400px, 240px);
                position        : relative;
                overflow        : hidden;
                transition      : .2s ease-in;
                background-color: $color-primarybright;

                >span {
                    position : absolute;
                    width    : 100%;
                    color    : $color-dark;
                    top      : 50%;
                    transform: translateY(-50%);
                    z-index  : 101;

                    >div {
                        position        : absolute;
                        border-radius   : 50%;
                        background-color: rgba($color-primary, 0.8);
                        color           : $color-light;
                        @include responsive(font-size, 24px, 16px);
                        @include responsive(width, 40px, 28px);
                        @include responsive(height, 40px, 28px);
                        @include flex(center, center);
                        cursor    : pointer;
                        transition: .2s ease-in;

                        &:hover {
                            background-color: $color-primary;
                        }

                        &.left {
                            @include responsive(left, 20px, 10px);
                        }

                        &.right {
                            @include responsive(right, 20px, 10px);
                        }
                    }
                }

                .gallery {
                    @include flex(flex-start, flex-start, row);
                    width: 100%;

                    >img {
                        @include responsive(min-width, 830px, 100%);
                        @include responsive(height, 400px, 240px);
                        object-fit: contain;
                    }
                }
            }

        }

        main {
            @include responsive(font-size, 16px, 12px);
            @include responsive(line-height, 22px, 16px);

            &.default {
                @include responsive(padding, 30px 30px 30px 36px, 12px);
            }

            &.gallery {
                @include responsive(padding, 10px 20px 18px 20px, 4px 12px 18px 12px);
            }

            // @include responsive(padding, 30px, 0 20px 20px 20px);
        }

        footer {
            @include responsive(padding, 20px, 12px 12px 18px 12px);

            &.bordered {
                &::before {
                    content : "";
                    position: absolute;
                    @include responsive(left, 30px, 18px);
                    @include responsive(right, 30px, 18px);
                    transform : translateY(-20px);
                    height    : 1px;
                    width     : calc(100% - 60px);
                    border-top: 1px solid rgba($color-gray, 0.3);
                }
            }
        }

        .close {
            @include responsive(width, 50px, 40px);
            @include responsive(height, 50px, 40px);
            @include responsive(font-size, 24px, 22px);
            @include flex(center, center);
            z-index: 10;
            padding: 10px;
            cursor : pointer;
            @include absolute(10px, 10px);

            &.default {
                color: $color-white;
            }

            &.gallery {
                color: $color-primary;
            }
        }
    }
}