.container {
    background      : $gradient-primary;
    background-color: $color-white;
    border-radius   : 4px;
    overflow        : hidden;
    color           : $color-light;

    .tag {
        padding    : 8px 12px;
        font-weight: 500;
        @include inlineFlex(center, flex-start, row, 6px);

        &.md {
            font-size: 18px;

            >span {
                >svg {
                    font-size: 22px;
                }
            }
        }

        &.sm {
            font-size: 14px;

            >span {
                >svg {
                    font-size: 16px;
                }
            }
        }

        >span {
            >svg {
                @include flex(center, center);
            }
        }
    }

}