.container {
    background      : $gradient-primary;
    background-color: $color-white;
    border-radius   : 4px;
    overflow        : hidden;
    color           : $color-light;

    .tag {
        font-weight: 500;
        @include inlineFlex(center, flex-start, row, 6px);

        &.md {
            @include responsive(font-size, 18px, 14px);
            @include responsive(padding, 8px 12px, 6px 10px);

            >span {
                >svg {
                    @include responsive(font-size, 22px, 16px);
                }
            }
        }

        &.sm {
            @include responsive(font-size, 14px, 10px);
            @include responsive(padding, 8px 12px, 6px 8px);

            >span {
                >svg {
                    @include responsive(font-size, 16px, 12px);
                }
            }
        }

        >span {
            >svg {
                @include flex(center, center);
            }
        }
    }

}