.container {
  @include flex(flex-start, flex-start, column);
  width           : 100%;
  height          : 100vh;
  overflow        : hidden;
  position        : relative;
  z-index         : 0;
  background-color: $color-white;

  .content {
    @include content(1000px, 100%);
    position: relative;
    z-index : 0;
    @include flex(space-between, flex-start, column, 20px);
    padding : 20px;
    margin  : 0 auto;
    position: relative;
    @include responsive(top, 30%, 0%);
    @include responsive(height, 70%, 100%);
    @include responsive(padding-top, 20px, 0);

    .info {
      @include flex(center, space-between, row, 40px);
      @include responsive(flex-direction, row, column-reverse);
      position: relative;
      z-index : 0;
      margin: auto 0;

      .left {
        width: 100%;
        @include flex(flex-start, flex-start, column);
        @include responsive(align-items, flex-start, center);
        @include responsive(text-align, left, center);

        >h1 {
          @include responsive(font-size, 88px, 58px);
          font-weight            : 700;
          color                  : transparent;
          background-clip        : text;
          margin-left            : -5px;
          background             : $gradient-primary;
          -webkit-background-clip: text;
        }

        >h2 {
          display  : block;
          max-width: 100%;
          color    : $color-dark;
          @include responsive(font-size, 32px, 24px);
          font-weight: 700;
        }

        >h3 {
          @include responsive(font-size, 28px, 22px);
          font-weight: 500;
          @include responsive(line-height, 10px, 14px);
        }

        .contact {
          @include flex(center, flex-start, row, 18px);
          @include responsive(flex-direction, row, column);
          @include responsive(margin-top, 40px, 20px);
          @include responsive(gap, 18px, 30px);
          
        }
      }

      .right {
        @include flex(flex-end, flex-start, column, 20px);

        >img {
          @include responsive(width, 267px, 180px);
        }
      }

      .contactIcons {
        @include flex(flex-start, flex-start, row, 10px);
      }
    }

    .stats {
      @include flex(center, flex-start, row, 28px);
      margin-top: 40px;
      @include responsive(display, flex, none);
      position: relative;

      >div {
        @include flex(center, flex-start, row, 12px);

        >h5 {
          font-weight   : 600;
          text-transform: uppercase;
          @include responsive(font-size, 18px, 14px);
          padding: 0;
        }

        >h4 {
          @include responsive(font-size, 54px, 40px);
          @include responsive(line-height, 37px, 50px);
          padding: 0;
        }
      }
    }

    .scrollDown {
      margin-top : auto;
      text-align : center;

      >h3 {
        @include responsive(display, block, none);
        @include responsive(font-size, 24px, 18px);
        text-transform: uppercase;
        font-weight   : 400;
      }

      >h4 {
        @include responsive(display, none, block);
        @include responsive(font-size, 24px, 18px);
        text-transform: uppercase;
        font-weight   : 400;
      }

      >h5 {
        @include responsive(font-size, 16px, 14px);
        @include responsive(letter-spacing, 6px, 3px);
        margin-bottom: 4px;
      }
    }
  }
}