.container {
    position  : relative;
    width     : 100%;
    color     : $color-light;
    background: $gradient-modern;
    @include responsive(padding, 60px 0 70px 0, 40px 0 50px 0);
    overflow: hidden;

    >div {
        position: relative;
        @include content(1000px, 100%);
        padding: 0 4px;
        z-index: 10;

        >h1 {
            @include responsive(font-size, 42px, 32px);
            font-weight   : 700;
            letter-spacing: -0.02em;
            line-height   : 1.2;
        }

        >p {
            @include responsive(font-size, 18px, 15px);
            @include responsive(line-height, 28px, 24px);
            @include responsive(margin-top, 24px, 18px);
            opacity: 0.95;
        }
    }


}