.container {
    position  : relative;
    width     : 100%;
    color     : #d2d2d2;
    background: $gradient-modern;
    @include responsive(padding, 80px 0 90px 0, 60px 0 70px 0);
    overflow: hidden;

    >div {
        position: relative;
        @include content(1000px, 100%);
        padding: 0 24px;
        z-index: 10;

        >h1 {
            @include responsive(font-size, 36px, 28px);
            font-weight   : 700;
            letter-spacing: -0.02em;
            line-height   : 1.2;
        }

        >p {
            @include responsive(font-size, 16px, 14px);
            @include responsive(line-height, 28px, 24px);
            @include responsive(margin-top, 28px, 20px);
            opacity: 0.95;
        }
    }


}