.container {
    position        : relative;
    width           : 100%;
    color           : $color-light;
    background-color: $color-primary;
    @include responsive(padding, 30px 0, 18px 0);
    overflow: hidden;

    >div {
        position: relative;
        @include content(1000px, 100%);
        padding: 0 4px;
        z-index: 10;

        >h1 {
            @include responsive(font-size, 48px, 32px);
            font-weight: 600;
        }

        >p {
            @include responsive(font-size, 20px, 14px);
            @include responsive(line-height, 30px, 20px);
            @include responsive(margin-top, 20px, 14px);
        }
    }


}