$font-family: "Raleway";

//Colors
$color-primary  : #5704ff;
$color-secondary: #f506c0;
$color-dark     : #0d2b3f;
$color-light    : #ffffff;
$color-black    : #000000;
$color-white    :#ffffff;
$color-skyblue  : #41baed;


//Gradient
$gradient-primary: linear-gradient(340deg, rgba(207, 0, 245, 1) 0%, rgba(114, 0, 211, 1) 100%);
$gradient-ocean  : linear-gradient(180deg, rgba(33, 141, 251, 1) 35%, rgba(87, 4, 255, 1) 65%, rgba(63, 0, 190, 1) 100%);

//Shadow
$shadow-card : 0px 34px 74px 0px rgba($color-dark, 0.07);