.container {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 30px 0;
  background: $gradient-skynight;

  .content {
    position: relative;
    @include content(1000px);
    @include flex(flex-start, flex-start, column);
    z-index: 1;

    > h1 {
      color: $color-light;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      font-size: 48px;
      font-weight: 600;
    }

    > h2 {
      color: $color-light;
      margin-top: 4px;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      font-weight: 400;
    }
  }

  .skillCards {
    margin-top: 40px;
    @include flex(stretch, center, row, 10px);
    flex-wrap: wrap;
  }
}
