.wrapper {
    @include responsive(width, calc(100% - 60px), calc(100% - 32px));
    @include responsive(margin, 30px auto, 16px auto);
    overflow: hidden;

    .container {
        background-color: #f7f0ff;
        border-radius   : 20px;
        height          : 392px;
        @include responsive(margin-bottom, 200px, 100px);
        position: relative;
        @include responsive(padding, 30px 0, 22px 0);

        .content {
            @include content(1000px, 100%);

            >h3 {
                @include responsive(font-size, 48px, 32px);
                font-weight: 600;

                >span {
                    color                  : transparent;
                    background-clip        : text;
                    background             : $gradient-primary;
                    -webkit-background-clip: text;
                }
            }

            >h4 {
                margin-top: 4px;
                @include responsive(font-size, 18px, 14px);
                font-weight: 400;
            }

            >h5 {
                margin-top: 4px;
                @include responsive(font-size, 14px, 12px);
                font-weight: 400;
            }

            .arrows {
                margin   : 20px 0;
                width    : 100%;
                font-size: 22px;
                @include flex(flex-start, flex-start, row, 10px);

                >span {
                    @include flex(center, center);
                    width           : 44px;
                    height          : 44px;
                    border-radius   : 50%;
                    color           : $color-light;
                    background-color: rgba(#985edb, 0.8);
                    cursor          : pointer;

                    &:hover {
                        background-color: #985edb;
                        transition      : .2s ease-in;
                    }
                }
            }

        }

        .projectsContainer {
            position: relative;
            @include responsive(left, calc((100% - 1000px)/2), 0);
            @include responsive(width, calc((100% - 1000px) / 2 + 1000px), 100%);
            overflow: hidden;

            .projects {
                transition: .2s ease-in;
                width     : max-content;
                @include flex(flex-start, flex-start, row, 20px);
                overflow-x    : hidden;
                padding-bottom: 20px;
                padding-left  : 16px;
            }
        }
    }
}

.skills {
    >h1 {
        @include responsive(font-size, 18px, 16px);
        @include responsive(margin-bottom, 8px, 6px);
    }
}

.tags {
    @include flex(flex-start, flex-start, row, 4px);
    @include responsive(gap, 4px, 2px);
    flex-wrap: wrap;
}